<div class="dock-container">
    <div class="dock">
      <ul>
         <li>
           <span i18n>Resume</span>
           <a (click)="onResumeClick()"><img [src]="baseUrl+'assets/images/document.svg'"/></a>
         </li>
         <li>
           <span i18n>Interests</span>
           <a (click)="onInterestsClick()" href="#"><img [src]="baseUrl+'assets/images/play.svg'"/></a>
         </li>
         <li>
            <span i18n>Experience</span>
            <a (click)="onWorkClick()" href="#"><img [src]="baseUrl+'assets/images/ladder.svg'"/></a>
         </li>
         <li>
            <span i18n>Joke</span>
            <a (click)="onJokeClick()"><img [src]="baseUrl+'assets/images/emule.svg'"/></a>
         </li>
      </ul>
    </div>
   </div>