<div class="dock-container">
    <div class="dock">
      <ul>
         <li>
           <span>Resume</span>
           <a (click)="onResumeClick()"><img src="/assets/images/document.svg"/></a>
         </li>
         <li>
           <span>Interests</span>
           <a (click)="onInterestsClick()" href="#"><img src="/assets/images/play.svg"/></a>
         </li>
         <li>
            <span>Experience</span>
            <a (click)="onWorkClick()" href="#"><img src="/assets/images/ladder.svg"/></a>
         </li>
         <li>
            <span>Joke</span>
            <a (click)="onJokeClick()"><img src="/assets/images/emule.svg"/></a>
         </li>
      </ul>
    </div>
   </div>