<div [ngClass]="{popupContainer:true, active:true, expanded:isExpanded}" 
     [style.zIndex]="zIndex" [style.top.px]="position.y" [style.left.px]="position.x" 
     (click)="onWindowClick($event)"
     >

        <div class="title-bar" (mousedown)="startDrag($event)" (dblclick)="onTitleBarDoubleClick($event)">
            <div class="col-4">
            </div>
            <div class="col-4">        
                <div class="title">
                    <h2>{{title | uppercase}}</h2>
                </div>
            </div>
            <div class="col-4">
                <div  class="window-buttons">

                    <a *ngIf="+windowKey === +enumCoparator.joke" (click)="onRefresh()" class="window-btn refresh">
                        <fa-icon [icon]="icons.refresh"></fa-icon>
                    </a>
                    <a *ngIf="+windowKey === +enumCoparator.resume" (click)="onCVPrint()" class="window-btn print">
                        <fa-icon [icon]="icons.print" #printIcon></fa-icon>
                    </a>
                    <a *ngIf="!isExpanded" (click)="onExpand()" class="window-btn expand">
                        <fa-icon [icon]="icons.expand"></fa-icon>
                    </a>
                    <a *ngIf="isExpanded" (click)="onMinimize()" class="window-btn minimize">
                        <fa-icon [icon]="icons.minus"></fa-icon>
                    </a>
                    <a (click)="onClose($event)" class="window-btn close">
                        <fa-icon [icon]="icons.close"></fa-icon>
                    </a>
                </div>
            </div>
    </div>

        <div class="popup-body" [ngSwitch]="+windowKey">
            <div class="cv-wrapper" *ngSwitchCase="+enumCoparator.resume" >
                <app-cv></app-cv>
            </div>
            <div class="joke-wrapper" *ngSwitchCase="+enumCoparator.joke">
                <img  [src]="jokePath" alt="joke"/>
            </div>
            <div class="skills-wrapper" *ngSwitchCase="+enumCoparator.interests">
                <pre>
                    <span class="comment">
                        ITEREST
                        ITEREST
                        ITEREST
                        ITEREST
                        ITEREST
                        ITEREST
                        ITEREST
                    </span> 
                </pre>

            </div>
            <div class="experience-wrapper" *ngSwitchCase="+enumCoparator.experience">
                <pre>
                    <span class="comment">
                        EXPERIENCE
                        EXPERIENCE
                        EXPERIENCE
                        EXPERIENCE
                        EXPERIENCE
                   </span> 
                </pre>
            </div>
        </div>
</div>