
.info{
    font-size: 11px;
}
.skills-body{
    padding-top:10px;
}
.subgroup{
    margin-bottom: 10px;
}
.language{
    padding: 0;
}
.item{
    margin: 0px 0px 8px 0;
}
.container{
    padding-top:10px;
}