<div class="wrapper">
      <!-- Header -->
      <header class = "main-header">
        <div class="container">
            <div id= "intro-container" class="intro-text">
                <!--img class="main-avatar" src="img/me-nofeatures.svg" alt=""-->
                <div class='main-avatar'>                
                    <div class="features-container">
                        <div class="eye"></div>
                        <div class="eye"></div>
                        	
                    </div>
                    <div class="mouth-container">
                        <div class="cssMouth"></div>
                    </div>
                </div>

                <div class="star-light">
                    <hr class="">
                    <fa-icon [icon]="icons.star"></fa-icon>
                </div>
      
            </div>
            <div id="intro-text-container" class="intro-text">
                <div class="hello-text">
                    <h1>Hi, I'M MALCOLM</h1>
                </div>
                <div class="typewriter">
                    <h1>I'M A WEB DEVELOPER</h1>
                </div>                
            </div>

        </div>

        <app-taskbar></app-taskbar>
        <app-pop-windows></app-pop-windows>



    </header>
</div>