<div class="wrapper" [attr.color-theme]="colorTheme" [attr.feel-theme]="feelTheme">
      <!-- Header -->
      <header class = "main-header" [ngStyle]="wallpaperPath? {'background-image': 'url(' + wallpaperPath + ')'}:''">
        <app-toolbar></app-toolbar>
        <div class="container">
            <div id= "intro-container" class="intro-text">
                <div class='main-avatar'>                
                    <div class="features-container">
                        <div class="eye"></div>
                        <div class="eye"></div>
                        	
                    </div>
                    <div class="mouth-container">
                        <div [ngClass]="{'cssMouth': true, 'smiling' : feelTheme===FellTheme.PLAYFUL}" ></div>
                    </div>
                </div>

                <div class="star-light">
                    <svg  width="250" xmlns="http://www.w3.org/2000/svg">
                        <line x1="0" y1="0" x2="100" y2="0" style="stroke-width:10" />
                        <line x1="150" y1="0" x2="250" y2="0" style="stroke-width:10" />
                      </svg>
                    <fa-icon [icon]="icons.star"></fa-icon>
                </div>
      
            </div>
            <div id="intro-text-container" class="intro-text">
                <div class="hello-text">
                    <h1 class="stroke" [attr.data-text]="title">{{title}}</h1>
                </div>
                <div class="typewriter">
                    <h1 class = "stroke" [attr.data-text]="subtitle">{{subtitle}}</h1>
                </div>                
            </div>

        </div>

        <app-taskbar></app-taskbar>
        <app-pop-windows></app-pop-windows>



    </header>
</div>