.info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.info-item {
    margin: 10px;

}

.info-content {
    display: flex;
    align-items: baseline; 

}
.info-icon {
    padding-right: 5px;
    color: #194F6E;
    font-size: 10px;
}

.info-text {
    margin: 0;
    font-size: 10px;
}