
[color-theme="light"] {
    --primary-color: #e1e7e0;
    --secondary-color: #b0e1e8;
    --tertiary-color: #eae0d6;
    --quaternary-color:#ebebeb;
    --primary-text-color: #48302b;
    --secondary-text-color: #4ab19a;
    --tertiary-text-color: #eae0d6;
    --quaternary-text-color: #1c1c1b;
    --psudo-black-color: #1c1c1b;
    --psudo-white-color: #fafafa;
    --psudo-darkgrey-color: #5b5b5b;
    --psudo-lightgrey-color: #b5b5b5;
}

[color-theme="dark"] {
    --primary-color: #194e6d;
    --secondary-color: #dc612c;
    --tertiary-color: #4ab19a;
    --quaternary-color:#303030;
    --primary-text-color: #dc612c;
    --secondary-text-color: #4ab19a;
    --tertiary-text-color: #194e6d;
    --quaternary-text-color: #fafafa;
    --psudo-black-color: #1c1c1b;
    --psudo-white-color: #fafafa;
    --psudo-darkgrey-color: #5b5b5b;
    --psudo-lightgrey-color: #b5b5b5;
}