.skill-level-indicator {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}


.skill-circles {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.circleSVG {
  width: 12px; 
  height: 12px; 
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  border: 1px solid #1c1c1b;
}

.filled {
  background-color: #1c1c1b;
}

.skill-name{
  padding-bottom: 0;
}
.skill-item{
  padding:0 0 0 0;
}
.skill-item-text{
  margin-bottom: 5px;
}
